<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Quadratic equations</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="/../project_1/Web/Public/css/bootstrap.css">
<!--My style-->
<link rel="stylesheet" href="/../project_1/Web/Public/css/MyStyle.css">

<style>
    body {
        margin-top: 200px;
    }
</style>
